In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import random

random.seed(123) #random.seed(),used to print a random number where the same value is to be used again.

%matplotlib inline
pd.set_option('display.max_colwidth', 1000, 'display.max_rows', None, 'display.max_columns', None)

In [3]:
data = pd.read_csv('creditcard.csv')
data = data.drop(columns=['Time'])

In [4]:
data.shape

(284807, 30)

In [5]:
data.isnull().any().any()

False

In [6]:
data.head() #first 5 dataset parameter information

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
data['Class'].value_counts() #1 means a fradulent detection

0    284315
1       492
Name: Class, dtype: int64

In [8]:
data['Class'].value_counts(normalize=True)

0    0.998273
1    0.001727
Name: Class, dtype: float64

In [9]:
 #0.001727 x 100 = 0.17% transactions are fraudulent.

In [10]:
amounts = data.loc[:, ['Amount']]
data['Amount'] = StandardScaler().fit_transform(amounts)

In [11]:
data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

In [12]:
class1 = data[data.Class == 1]
class0 = data[data.Class == 0]

In [13]:
class0.shape

(284315, 30)

In [14]:
class1.shape

(492, 30)

In [15]:
class_dist = pd.value_counts(data['Class'], sort = True)

In [17]:
#training the datasets
class0_train = class0.sample(n = 344, random_state = 123,  replace = False)
class1_train = class1.sample(n = 344, random_state = 234,  replace = False)

In [18]:
class0_cv = class0.drop(class0_train.index).sample(n = 42647, random_state = 345,  replace = False)
class0_test = class0.drop(class0_train.index).drop(class0_cv.index).sample(n = 42647, random_state = 456,  replace = False)

In [19]:
class1_cv = class1.drop(class1_train.index).sample(n = 74, random_state = 567, replace = False)
class1_test = class1.drop(class1_train.index).drop(class1_cv.index)

In [20]:
train_set = pd.concat([class0_train, class1_train])

In [21]:
cv_set = pd.concat([class0_cv, class1_cv])

In [22]:
test_set = pd.concat([class0_test, class1_test])

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
X_train = train_set.iloc[:, 0:29]
y_train = train_set.iloc[:, 29]

In [25]:
lr = LogisticRegression(penalty= 'l2', C=1)

In [26]:
lr.fit(X_train, y_train)

LogisticRegression(C=1)

In [27]:
lr.score(X_train, y_train)

0.9447674418604651

In [28]:
X_cv = cv_set.iloc[:, 0:29]
y_cv = cv_set.iloc[:, 29]

In [29]:
print(lr.score(X_cv, y_cv))

0.9694997776269282

In [ ]:
#alomost 97% accuracy for the model.